* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
html{
  overflow-x: hidden;
}
body {
    scroll-behavior: smooth;
    background: url(../src/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior:smooth;
  }
  
  /* NAVBAR */
  #nav a{
    text-decoration: none;
    position: relative;
    color: aliceblue;
    font-weight: 500;
    font-size: 22px;
  }
  
  #nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background: #d02323;
    transition: .3s;
  }
  
  #nav a:hover::before{
    width: 100%;
  }
/* CONTENT PORTION */
.head{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  overflow: hidden;
}
.title {
    color: aliceblue;
    position: relative; 
    overflow: hidden;
}
.title .title-txt {
    font-size: 7rem;
    width: 100%;
    overflow: hidden;
  }
  .title-txt:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-left: 0.5rem solid red;
    background-color: black;
    animation: typing 4s steps(20) infinite;
}
@keyframes typing{
  40%,60%{
    left: 100%;
  }
  100%{
    left: 0;
  }
}

hr.divider {
    height: 0.3rem;
    max-width: 6.25rem;
    margin: 1rem auto;
    background-color: #d02323;
    opacity: 1;
  } 
  hr.divider-light {
    background-color: #fff;
  }
.c2 {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    margin-top: 1rem;
    padding-left: 9rem;
    padding-right: 9rem;
    text-align: center;
    height: auto;
    display: block;
    margin-bottom: 16rem;
}
.c2 p {
    font-size: 2rem;
}
.c3{
    height: 17rem;
    background-color: rgba(255, 12, 4, 0.216);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;    
}
.c3 h2{
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
    border-radius: 40px;
    font-weight: 500;
    width: 17vw;
}
.c4 {
    display: flex;

}
img {
    width: 33.3%;
}
/* END OF CONTENT PORTION */

/* FOOTER */
footer{
    background: rgb(17, 17, 17);
    height: auto;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding-top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size:16px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.4rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom {
    background: rgb(0, 0, 0,0.5);
    width: 100vw;
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/* END OF FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .head {
      margin-top: 6rem;
    }
    .title .title-txt {
      font-size: 2.5rem;
    }
    .c2 {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 9.2rem;
    }
    .c2 p{
      font-size: 1.4rem;
    }
    .c3 h2{
      font-weight: 500;
      font-size: 2.5rem;
    }
    .btn{
      width: 10rem;
    }
  }
@media screen and (max-width: 768px) {
  .c4{
    flex-direction: column;
  }
  img{
    width: 100%
  }
}
/* END OF RESPONSIVE */

/* Animation */
body{
  animation: transitionIn 3s;
}
@keyframes transitionIn {
  from {
  opacity: 0;
  transform: translateY(-10px);
  }
  to {
     opacity: 1;
      transform: translateY(0);
  }
}
